<h1 class='text-center'>New Cocktails page</h1>
<div class="d-flex justify-content-center m-5">
  <%= simple_form_for @cocktail do |f| %>
    <%= f.input :name %>
    <%= f.input :photo, as: :file%>
    <%= f.button :submit, class: "btn-primary" %>
  <% end %>
</div>