#new_cocktail {
  margin: 10px;
  padding: 5px;
  border-radius: 5%;
  background-color: lightgray;
  border: black solid 2px;
}

#new_dose {
  margin: 10px;
  padding: 5px;
  border-radius: 5%;
  background-color: lightgray;
  border: black solid 2px;
}

.round-tag {
  border-radius: 25%;
}